:host {
  padding: var(--padding);
  display: block;

  .separator {
    margin: 0;
    margin-bottom: 10px;
  }

  .btn-edit {
    height: 30px;
    line-height: 30px;
  }

  .gamer-container {
    border-bottom: 1px solid rgb(129, 129, 129);
    margin-left: -10px;
    margin-right: -10px;
    padding: var(--padding);
    padding-bottom: 3px;
    padding-top: 3px;

    &.win {
      background-color: #c7f7cb;
    }

    &.lose {
      background-color: #f98989;
    }
  }

  .total {
    font-weight: bold;
    font-size: 16px;
  }

  .gamer-name {
    font-weight: bold;
    padding-right: 10px;
    font-size: 16px;
  }

  .validation-error {
    font-size: 12px;
  }

  .wrapper {
    padding-bottom: 10px;
  }
}

.show-buy {
  color: #3c4174;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #3c4174;
}
