<div mat-dialog-title>Закуп: {{ data.gamerName }}</div>
<div mat-dialog-content>
  <div
    fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="space-between center"
    class="content"
  >
    <div fxLayout="column" fxLayoutGap="15px">
      <ng-container
        [ngTemplateOutlet]="incrementButton"
        [ngTemplateOutletContext]="{ value: 100 }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="incrementButton"
        [ngTemplateOutletContext]="{ value: -100 }"
      ></ng-container>
    </div>

    <mat-form-field>
      <input
        class="input"
        matInput
        type="number"
        autocomplete="off"
        [(ngModel)]="value"
      />
    </mat-form-field>

    <div fxLayout="column" fxLayoutGap="15px">
      <ng-container
        [ngTemplateOutlet]="incrementButton"
        [ngTemplateOutletContext]="{ value: 1000 }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="incrementButton"
        [ngTemplateOutletContext]="{ value: -1000 }"
      ></ng-container>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" class="presets">
  <button
    *ngFor="let preset of presets"
    mat-raised-button
    color="basic"
    [class.active]="value === preset"
    (click)="setValue(preset)"
  >
    {{ preset }}
  </button>
</div>

<div
  mat-dialog-actions
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="buttons"
>
  <button
    mat-raised-button
    color="warn"
    [mat-dialog-close]="value"
    [disabled]="value == 0"
  >
    Применить {{ value }}
  </button>
  <button mat-raised-button (click)="onCancelClick()" cdkFocusInitial>
    Отмена
  </button>
</div>

<ng-template #incrementButton let-value="value">
  <button mat-raised-button color="primary" (click)="incrementValue(value)">
    <span *ngIf="value > 0">+{{ value }}</span>
    <span *ngIf="value < 0">{{ value }}</span>
  </button>
</ng-template>
