<div mat-dialog-title>{{ data.gamerName }}</div>

<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Остаток</mat-label>
    <input
      matInput
      type="number"
      autocomplete="off"
      [(ngModel)]="data.balance"
      cdkFocusInitial
      data-testid="edit-balance-input"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data.balance"
    data-testid="save-balance-button"
  >
    Сохранить
  </button>
  <button mat-raised-button (click)="onCancelClick()">Отмена</button>
</div>
