/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  max-width: 800px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.floating-action-btn {
  position: fixed !important;
  bottom: 30px;
  right: 30px;
}

.mat-typography {
  font-size: 14px;
}

.mat-raised-button {
  font-size: 18px;
  line-height: 50px !important;
}

.mat-checkbox {
  .mat-checkbox-label {
    font-size: 20px;
    line-height: 26px;
  }

  .mat-checkbox-inner-container {
    height: 20px;
    width: 20px;
  }
}

button {
  touch-action: manipulation;
}
